Sowgandh_Ticketing_WebService/TicketClient/xml-resources/web-service-references/TicketServer/wsdl/localhost_8080/TicketServer/TicketServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://TicketServer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://TicketServer/">

<xs:element name="booking" type="tns:booking"/>

<xs:element name="bookingResponse" type="tns:bookingResponse"/>

<xs:element name="details" type="tns:details"/>

<xs:element name="detailsResponse" type="tns:detailsResponse"/>

<xs:complexType name="details">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="detailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="value1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>